.contact-form {
	width: 85%;
	display: flex;
	justify-content: center;
	padding: 20px;
	background: transparent;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: transparent;
	color: white;
}

.form-group textarea {
	resize: vertical;
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

button:hover {
	background-color: #555;
}
.container {
	display: grid;
	grid-template-columns: 1fr 10fr 0fr;
	z-index: 3;
	position: relative;
}
