body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-image: url('../assets/ibiza.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
}

.container {
	display: grid;
	grid-template-columns: 2fr 8fr 4fr;
	z-index: 3;
	position: relative;
}

.sidebar {
	background-color: transparent;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: start;
}

.icons-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.icons-wrapper img {
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: transform 0.3s;
}

.icons-wrapper img:hover {
	transform: rotate(15deg);
}

.header {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	background-color: transparent;
	margin-top: 150px;
	font-size: xx-large;
	color: white;
}

.header h1,
.header p,
.header button {
	margin: 10px 0;
}

p {
	font-size: medium;
	width: 50%;
}

.header button {
	padding: 5px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	width: 150px;
	background-color: #333;
	color: white;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	margin-top: 50px;
	align-self: center;
	width: 300px;
	opacity: 0.8;
}

.header button:hover {
	background-color: black;
	color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 10px 20px;
	z-index: 2;
	position: relative;
}
.navbar a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: 16px;
}
.navbar a:hover {
	color: rgb(173, 170, 170);
}
.search-container {
	display: flex;
	align-items: center;
}
.search-container input[type='text'] {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 300px;
}
.search-container button {
	padding: 5px 10px;
	margin-left: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}
.search-container button.search-btn {
	padding: 5px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
	width: 150px;
	background-color: rgb(116, 113, 113);
	color: white;
}
.search-container button.search-btn:hover {
	background-color: black;
	color: white;
}
.search-container button.reset-btn {
	padding: 5px;
	padding-top: 6.5px;
	padding-bottom: 6.5px;
	width: 100px;
	background-color: #dddddd;
	color: #333;
}

.search-container button.reset-btn:hover {
	background-color: black;
	color: white;
}

.icons-wrapper {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	background-color: transparent;
	border-radius: 0 5px 5px 0;
}

.icons-wrapper > div {
	margin-bottom: 10px;
	text-align: center;
	background-color: transparent;
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.icons-wrapper img:hover {
	animation: shake 0.5s; /* Apply the shake animation */
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.icons-wrapper img {
	width: 24px;
	height: 24px;
}

.results-wrapper {
	background-color: black;
	opacity: 0.4;
	padding: 10px;
	width: 300px;
	margin-top: 5%;
	border-radius: 4px;
	text-align: center;
	height: min-content;
}

.results-wrapper h2 {
	color: white;
}

#no-results {
	color: white;
}
